@CHARSET "UTF-8";


@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/DroidKufi-Regular.eot);
  src: url(/fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(/fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/DroidKufi-Bold.eot);
  src: url(/fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/DroidKufi-Bold.ttf) format('truetype');
}


body
{
	font-family: Tahoma;
	margin: 0px;
}

A
{
	text-decoration: none;
	color:#3E6FD8;
}

INPUT
{
	border:1px solid #eee;
	color:#052F59;
	min-height: 22px;
	padding:2px;
	outline-color: #0074bc;
}


INPUT[type="button"]
{
	cursor: pointer;
	color:#000;
	background-color:#efefef;
	padding:5px;
	font-size: 14px;
	font-weight: bold;
	
	
	  background-color: hsl(203, 100%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23aafe", endColorstr="#0074bc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#23aafe), to(#0074bc));
  background-image: -moz-linear-gradient(top, #23aafe, #0074bc);
  background-image: -ms-linear-gradient(top, #23aafe, #0074bc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23aafe), color-stop(100%, #0074bc));
  background-image: -webkit-linear-gradient(top, #23aafe, #0074bc);
  background-image: -o-linear-gradient(top, #23aafe, #0074bc);
  background-image: linear-gradient(#23aafe, #0074bc);
  border-color: #0074bc #0074bc hsl(203, 100%, 32%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
	
}
INPUT[type="button"]:HOVER
{
	cursor: pointer;
	color:#000;
	background-color:#cacaca;
	padding:4px;
	font-size: 14px;
	font-weight: bold
}

TEXTAREA
{
	border:1px solid #eee;
	width:400px;
	color:#052F59;
}


#main-container
{
	width:90%;
	margin: 10px 0px 0px 20px;
	min-height: 400px;
}

#options-area
{
	background-color: #f8f8f8;
	margin: 30px 20% 10px 20%;
	padding:10px;
	border-radius:5px;
	vertical-align: top;
	position: relative;
	width:60%;
}

#options-area table
{
	border-spacing: 0px;
	width:90%;
}

#options-area.oa-analysis
{
	background-color: #4CA5FF;
}

#main-sections
{
	display: table;
	background-color: #f8f8f8;
	position: absolute;
	top:-41px;
}

.section-item
{
	display: table-cell;	
	
	border-right: 1px dotted #999;
	cursor: pointer;
	font-size:16px;

}
#section-item-search
{
	background-color: #eee;
	border-top-left-radius:5px;
}
#section-item-explore
{
	background-color: #FFD11A;

}

#section-item-analysis
{
	background-color: #4CA5FF;
	border-top-right-radius:5px;

}

.section-item A
{
	color:#222;
	text-decoration: none;
	padding:10px;
	display: inline-block;
	font-size: 20px;
		
}

.section-item:HOVER
{
	filter: brightness(1.1);
	-webkit-filter: brightness(1.1);
	-moz-filter: brightness(1.1);
	
	filter: drop-shadow(0px 0px 3px #000);
	-webkit-filter: drop-shadow(0px 0px 3px #000);
	-moz-filter: drop-shadow(0px 0px 3px #000);

}
#section-item-analysis A
{
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
	font-size: 20px;
}


#search-field
{
	padding:12px;
    color:#888;
    font-size:20px;
	border: 1px solid #888;
	min-width:200px;
	width:100%;
	display: inline-block;
	margin:0px;
	height: 21px !important;


}

#doSearch 
{
	 background-color: hsl(75, 100%, 18%) !important;
	 background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82ad00", endColorstr="#445b00"); 
	 background-image: -khtml-gradient(linear, left top, left bottom, from(#82ad00), to(#445b00));
	 background-image: -moz-linear-gradient(top, #82ad00, #445b00);
	 background-image: -ms-linear-gradient(top, #82ad00, #445b00); 
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82ad00), color-stop(100%, #445b00)); 
	 background-image: -webkit-linear-gradient(top, #82ad00, #445b00);
	 background-image: -o-linear-gradient(top, #82ad00, #445b00);
	 background-image: linear-gradient(#82ad00, #445b00); 
	 border-color: hsl(75, 100%, 50%) ; 
	 border-left:0px;
	 border-radius:0px 5px 5px 0px;
	 color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26); 
	 -webkit-font-smoothing: antialiased; 
	 cursor: pointer;
	 padding: 12px;
	 margin-left: 20px !important;
	 margin-top: -1px !important;
	 font-size: 20px;
	 height:auto !important;

}

#doSearch:HOVER
{
	opacity: 0.95;
	filter: alpha(opacity =     95);
}

#footer-section
{
	width: 50%;
	margin:auto;	
	text-align: center;
	color:#444;
	font-size: 12px;
}



#copyr-statement
{
	color:a8a8a8;
	font-size: 12px;
	margin-top: 5px;
	
}

#header-panel
{
	padding:0px;
	width:100%;

}

#header-panel table
{
	margin-left:auto;
	
	width:430px;
}

#header-panel TR TD
{
	border-right:1px dashed #a8a8a8;
	padding:0px 2px;
	
}

#header-panel  A
{
	text-decoration: none;
	color:#1597FE;
	font-size: 12px;
	
}

#header-panel  A:HOVER
{
	color:#0D5E9B;
}

.analysis-table
{
	background-color: #FAFAFA;
	width:auto;
	margin:2%;
	text-align: left;
	
	
}
.analysis-table thead th
{
	color: #222;
	background-color: #C0DE22;
	padding:5px;
}
.analysis-table  td
{

	padding:5px;
}

.analysis-table  td:FIRST-CHILD
{
	width:200px;
}

fieldset
{
	float: left;	
	width:44%;
	min-height: 300px;
	margin-bottom: 100px;
	  border: 1px solid #eee;
}
fieldset legend
{
	font-weight: bold;
	foont-size:18px;
}

#word-frequency-fs
{
	width:80%;
	margin:10px 0px;
	float:none;
	
}

#quran-full-text-fs
{
	width:100%;
	margin:10px 0%;
	float:none;
}

.fqt-verse
{
	border-collapse: collapse;;
	border:1px solid black;
}

#result-count
{
	color: #C0DE22;
	background-color: #222;
	padding:2px;
	min-width:80px;
	height:30px;
	display:inline;
}

#fqt-search-area
{
		margin:10px 0px;
		width:100%;
}
marked
{
	background-color:#0095CC;
	color:#fff;
	font-weight: bold;
}

marked_fg
{
	color:#0095CC;
	
	font-weight: bold;
}

.marked_for_concordance
{
	color:red;
	
	font-weight: bold;
	display: inline-block;

}
marked_for_concordance_right_left
{
	color:#0095CC;
	
	font-weight: bold;
	display: inline-block;

}

#filterSearch
{
	height:30px;
		border:1px solid black;
}



.wordfreq-item
{
	padding:1px;
	margin:0px;
	display: inline-block;
	color:#191919;
	text-decoration:none !important;
	cursor:default;
	line-height: 0;
}

.wordfreq-item-for-sura
{
		padding:4px;
	margin:0px;
	display: inline-block;
	color:#191919;
	text-decoration:none !important;
	cursor:default;
	line-height: 0;
}

.cloud-div *
{

}

.word-cloud-fs
{
	width:100%;
	margin:10px 0%;
	float:none;
	padding:20px 10px;

}

.word-cloud-fs label
{
	font-weight: bold;
	font-size: 14px;
}

.word-cloud-fs legend
{
	font-weight: bold;
	font-size: 20px;
}

#stop-words-reload-button-area
{
		margin-left:20px;
		margin-top:10px;
		width:30%;
}

#stop-words-reload-button-area input
{

 background-color: hsl(33, 85%, 36%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec8f1c", endColorstr="#a9630d"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ec8f1c), to(#a9630d)); background-image: -moz-linear-gradient(top, #ec8f1c, #a9630d); background-image: -ms-linear-gradient(top, #ec8f1c, #a9630d); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec8f1c), color-stop(100%, #a9630d)); background-image: -webkit-linear-gradient(top, #ec8f1c, #a9630d); background-image: -o-linear-gradient(top, #ec8f1c, #a9630d); background-image: linear-gradient(#ec8f1c, #a9630d); border-color: #a9630d #a9630d hsl(33, 85%, 32%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26); -webkit-font-smoothing: antialiased;
 	 cursor: pointer;
	 padding: 11px;
	 font-size: 20px;
}

#loading-layer
{
	color:#000;
	width:200px;
	margin:0px auto;
	display: none;
	padding:20px;
	
}

.result-aya
{
	background-color: #FFF;
	color:#222;
	font-size:18px;
	font-weight:bold;
	width: 80%;
	margin:auto;
	border-bottom:1px dotted green;
	padding:10px;
	direction: rtl;
}

.result-aya-info
{
	height: 30px;
		border-bottom:1px dotted green;
		width: 80%;
		margin:auto;
		padding:2px;
}
	
.result-sura-info
{
	background-color: #FFCA1C;
	color:#000;
	padding:4px;
	min-width:100px;
	font-size:16px;


	text-align: left;
	direction:rtl;
	
	float:left;
	
	
}


.search-error-message
{
		
	color:#234;
	padding:4px;
	
	
	text-align: center;
}

.search-word-suggestion
{
		
	color:#444;
	padding:4px;
	
	
	
	text-align: center;
}

.search-word-suggestion A
{
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

.result-translated-text
{
	display: none;
	padding: 10px;
	border-top: 1px solid #eee;
	font-weight: normal;
}

.result-aya-showtranslation
{
		background-color: #8EC5FF;
	color:#fff;
	padding:4px;
	min-width:100px;
	font-size:14px;


	text-align: left;
	direction:rtl;
	
	float:left;
}
.result-aya-showtranslation A
{
	text-decoration: none;
	color:#fff;
		font-size:16px;
}
.result-aya-showtranslation:HOVER
{

	opacity: 0.90;
	filter: alpha(opacity =     90);
	cursor: pointer;	
}

#result-graph-area
{
	border:1px solid black;
	min-height: 400px;
	width:80%;
	margin:10px auto;
	
}

#analysis-switch-lang-button
{
	background-color: #000;
	color:#fff;
	height: 40px;
	width: 60px;
	float: left;
	margin:5px;
	padding:10px;
	cursor: pointer;
	text-align: center;
}

#analysis-main-message
{
	margin:auto;
	width:100%;
	color:#202930;
	padding-left: 20px;
	margin-top:0px;
}

#analysis-main-message P
{
	font-size:22px;
	margin-top:10px;
}

#analysis-switch-lang-button:HOVER
{
	opacity: 0.90;
	filter: alpha(opacity =     90);

}

#analysis-switch-lang-button span
{
	font-weight: bold;

	
}


/** Graph RECT **/
rect 
{
  fill: none;
  pointer-events: all;
}

.graph-node {
  fill: #eee;
  color:#222;
  
}

.graph-cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.graph-link {

    stroke: #eee;
  stroke-width: 1.5px;
}

.graph-link text{

    stroke: #000;
 stroke-width: 0.1px;
  font-weight: lighter;
  font-size: 10px;
}

.graph-link text tspan{

    display: block;
}


.graph-words
{
  fill: #2E7FBA;


}

#result-stats-chart-area
{
	margin:10px auto;
	
		width:80%;
	min-height: 100px;
	border:1px solid black;
}

#result-verses-area
{
		margin:10px auto;
	padding:10px;
		width:80%;
	min-height: 100px;
	
}


#results-stats-table table
{
	border-spacing: 10px;
}


#results-stats-table th
{
	background-color: #efefef;
	color:#000;
	padding:5px;

	
}

#results-stats-table table td
{
	background-color: #fff;
	border:1px solid #eee;
	color:green;
	font-weight:bold;
	padding:5px;
}

#results-chart-area
{
	padding:10px;
}

.main text 
{
    font: 12px sans-serif;	
}

.chart-axis line, .chart-axi path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: red;
}


.chart-tooltip
{
  position: absolute;
  width: 200px;
  height: 30px;
  pointer-events: none;
  font-size: 11px;
}

.graph-tooltip
{
  position: absolute;
  width: 200px;
  height: 384px;
  font-size: 11px;
  border:1px;
  background-color: #000;
  color:#fff;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
   border-top-right-radius:0px;
   
  padding:10px;
  z-index:100;

  
  
}



#graph-maingraph-area
{

min-height: 400px;
height:100%;
width: 100%;
margin: 10px auto;
}

#graph-verse-selection
{
	width:400px;
}
#graph-verse-or-text-selection
{
	text-align: center;
}

#graphing-iframe
{
	width: 100%;
	height: 100%;
	min-height: 400px;
	overflow: none;
	border:1px solid black;
}

#graph-verse-selection optgroup label
{
	 background-color: #222;
	 color:#fff;
	 padding:2px;
}
#graph-verse-selection optgroup option[value='ALL_SURA']
{
     color:#2E7FBA;
}

#pos-options-area
{


height:auto;
width: 50%;
margin: 0px auto;
text-align: center;

}
#pos-options-table
{
	text-align: right;
}

#pos-selection
{
	width:200px;
}

.pos-value-div
{

	margin:auto;
	padding:10px;
	font-size:20px;
	text-align: center;
	direction: rtl;
}

#pos-data-area
{
	min-height:200px;
	width: 80%;
	margin: 10px auto;
	text-align: center;
}

.note
{
	color:#aaa;
	font-size:11px;
}

.pos-sura-info
{
	color:#aaa;
}

#main-credits-area
{
	margin:auto;
	width:50%;
	
}

#main-page-main-message
{
	margin:auto;
	width:40%;
	min-width:540px;
	color:#052F59;
	font-family: Tahoma;
	font-weight: lighter;
	padding:20px 0px;
}

#main-page-try
{
	color:#bbb;
}



.main-page-example-item
{
	text-decoration: none;
	color:#1597FE;
	font-size: 24px;
	padding:0px;
	font-family: Arial;
	font-weight: lighter;
	
}

.main-page-example-item:HOVER
{
	color:#0D5E9B;
}

#main-page-examples-area
{
	margin:10px auto;
	width:400px;
	margin-top: -45px;
	
}

#info-pages-main-table
{
	width:90%;
	margin:5%;
}
#info-pages-main-table TR TD
{
	padding:10px;
}
#info-pages-main-table TR TD:first-child
{
	border-right: 1px solid #345;
}

.info-page-text
{
	
	font-family: arial;
	font-size:20px;
}

#info-pages-title-column
{
	width:100px;
	text-align:center;
	vertical-align:top;
	padding:31px 10px 30px 10px !important;
	font-weight: bold;
	font-size: 18px;
}

.credits-hr
{
	width:50%;
}
.credits-fs
{
	margin:10px;
	padding:10px;
}
.credits-fs legend
{
	color:#052F59;
}
.info-page-section-title
{
	font-size:20px;
	margin-top:0px;
	color:#052F59;
}
.general-error-color
{
	color:#8c0000;
}
.general-success-color
{
	color:#3B890B;
}
.general-loading-color
{
	color:#ED9912;
}
#feedback_user_text
{
	height: 200px;
}
#feedback_type_area
{
	margin:10px 0px;
}
#feedback_type_area label
{
	color:#1E3807;
}
#ontology-title
{
	margin: 0px auto;
	width: 400px
}
#ontology-main-area
{

	margin: 0px auto;
	width: 800px
}
#ontology-container-table 
{
	width:80%;
	margin:auto;
	
	margin-top:10px;
}

#ontology-container-table  TD 
{
	vertical-align: top;
}

#ontology-concepts-table
{
		width:100%;
	border:1px;
	margin:auto;
}
#ontology-concepts-table TD
{
	vertical-align: top;
	background-color: #fafafa;
	
}
#ontology-concepts-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
}

#pos-words-verses-table
{
	width:100%;
	border:1px;
	margin:auto;
	
}

#pos-words-verses-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#pos-words-verses-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
}


#pos-words-verses-statistics
{
	direction: ltr;
	font-weight: lighter;
	font-size: 20px;
	background-color: #C0DE22;
	color:#222;
	padding:2px;
	width:400px;
	margin:auto;
	margin-bottom:10px;
	
}


#uts-mapping-table
{
	width:40%;
	border:1px;
	margin:auto;
	
}

#uts-mapping-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#uts-mapping-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
}

#uts-mapping-statistics
{
	direction: ltr;
	font-weight: lighter;
	font-size: 14px;

	padding:2px;
	width:400px;
	margin:auto;
	margin-bottom:10px;
	
}

#plotting-frame
{
	width:100%;
	min-height: 600px;
}

#ngrames-options
{
	margin:auto;
	width:320px;
	
}

#ngrames-options SPAN
{
	width:300px;
	text-align: center;
	

}

#ngrams-results-table
{
	margin:auto;
	width:500px;
	margin-top:20px;
}



#ngrams-results-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#ngrams-results-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: left;
}

#grams-number
{
	width:20px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	border-radius:20px;
	
}
#grams-number:FOCUS
{

	 outline: 0px;
}

#ngrames-radio
{

	height: 40px;
	background-color: #fafafa;

	margin-bottom: 10px;
}

#ngrames-radio input[type=radio]
{
	vertical-align: middle;
}
#ngrames-radio label
{
	vertical-align: middle;
}



#repeated-results-table
{
	margin:auto;
	width:80%
	margin-top:20px;
}




#repeated-results-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#repeated-results-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: left;
}



#words-info-options
{
	margin:auto;
	width:400px;
	
}

#words-info-area
{

	margin: 0px auto;
	width: 100%;
}


#words-info-table
{
	margin:auto;
	width:100%;
	margin-top:20px;
}



#words-info-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#words-info-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: left;
}

#technical-error
{
	background-color: #fafafa;
	color:#dd1111;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	margin:auto;
	width:40%;
	margin-top:20px;
}

#pause-marks-area
{
		margin:0px auto;
	width:200px;
}
#pause-marks-selection
{
	margin:0px auto;
	width:30px;
	font-size: 32px !important;
	padding:2px 10px;

}

.pausemarks-style
{
	font-size:32px; 
	 vertical-align: bottom;
	 display: inline-block;
	 height: 25px;
	 padding:0px 10px;
	 background-color: #000;
	 color:#fff;
}


#pausemarks-verses-table
{
	width:80%;
	border:1px;
	margin:auto;
	margin-top:10px;
	
}

#pausemarks-verses-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#pausemarks-verses-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
}

#words-context-options
{
	margin:auto;
	width:400px;
	
}

#words-context-area
{

	margin: 0px auto;
	width: 100%;
}


#words-pos-context-table
{
	margin:auto;
	width:90%;
	margin-top:20px;
}

#words-pos-context-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#words-pos-context-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
}

#target-pos-level-zero-cell
{
	font-size: 32px;
	
	background-color: #000 !important;
	color:#fff;
	padding:10px;
	padding-top:30px;
	text-align: center;
}

.analysis-title-header
{
	margin:auto;
	width:50%;
	margin:10px auto;
	text-align: center;
}

#words-pos-concordance-table
{
	margin:auto;
	width:90%;
	margin-top:20px;
}

#words-pos-concordance-table TD
{
	vertical-align: top;
	background-color: #fafafa;
}

#words-pos-concordance-table TH
{

	background-color: #C0DE22;
	color:#000;
	padding:2px;
	vertical-align: middle;
	white-space: nowrap;
}

.concordance-list
{
	list-style-type: none;
	color:#aaa;
}

#analysis-main-table
{
	width: 100%;
}
#left-menu-area
{
	display: block;
	  margin-left: 10px;
}
#analysis-component-cell
{
	text-align: left;
	vertical-align: top;
}
#analysis-left-menu-cell
{
	border-right:1px  dotted #eee;
	vertical-align: top;
	width: 200px;
}


A.analysis-links
{
	color:#000;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
	display: block;
	  border-bottom: 1px solid #eee;
  padding: 2px;
	
}
A.analysis-links:BEFORE
{
	content:"Ûž ";
}

A.analysis-links:ACTIVE
{
	color:#000;
	outline-width:2px;
	outline-color: #fff;
	outline-style: dotted;
}

A.analysis-links:HOVER
{

	background-color:#4CA5FF;
	color:#fff;

}

A.analysis-links[selected="1"]
{
	background-color:#4CA5FF;
	color:#fff;
}


.analysis-sub-title
{

	color:#aaa;
	font-size: 14px;
}

.treemap-node {
  border: solid 1px white;
  font: 14px sans-serif;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  color:#fff;
  cursor: pointer;
 
 
}


.treemap-node:HOVER
{
	filter: brightness(1.1);
	-webkit-filter: brightness(1.1);
	-moz-filter: brightness(1.1);
	font-weight: bold;
	

}